.calculator-grid {
  display: grid;
  padding-left: 35%;
  width: 300px;
}
.output {
  background: hsl(224, 36%, 15%);
  border-radius: 0.25rem;
  color: hsl(0, 0%, 100%);
  font-weight: bolder;
  font-size: x-large;
  height: 1.5rem;
  margin: 1rem 0;
  padding: 1.5rem;
  text-align: right;
}
.bottom-screen {
  background: hsl(223, 31%, 20%);
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 1rem 1rem;
}

body {
  background: hsl(222, 26%, 31%);
  color: hsl(0, 0%, 100%);
  font-family: "League Spartan", sans-serif;
}
